@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(135deg, white, #fff5f5);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1100px) {
  body {
    flex-direction: row;
    background-image: url("../images/bg-pattern-desktop.svg"), linear-gradient(135deg, white, #fff5f5);
    background-position: center right;
    background-size: cover;
  }
}

.logo {
  padding: 1.5rem 1rem;
  transform: scale(0.7);
  margin: 0;
  align-self: flex-start;
}
@media (min-width: 1100px) {
  .logo {
    transform: scale(1);
    padding: 3.5rem 0;
    align-self: center;
  }
}

.hero-desktop {
  display: none;
}
@media (min-width: 1100px) {
  .hero-desktop {
    display: block;
    flex: 40%;
    order: 1;
    object-fit: cover;
  }
}
.hero-mobile {
  width: 100%;
}
@media (min-width: 1100px) {
  .hero-mobile {
    display: none;
  }
}

main {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: linear-gradient(135deg, white, #fff5f5);
}
@media (min-width: 1100px) {
  main {
    background: transparent;
    align-items: center;
    text-align: left;
    flex: 60%;
  }
}
@media (min-width: 1100px) {
  main div {
    margin-top: 5rem;
    width: 50%;
  }
}
main h1 {
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 10px;
  color: #413a3a;
}
@media (min-width: 1100px) {
  main h1 {
    font-size: 4rem;
    letter-spacing: 20px;
  }
}
main h1 span {
  display: block;
  font-weight: 300;
  color: #ce9797;
}
main p {
  line-height: 1.5;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #ce9797;
  padding: 0 2rem;
}
@media (min-width: 1100px) {
  main p {
    font-size: 1.15rem;
    padding: 0;
    margin: 2.5rem 0;
  }
}
main form {
  display: flex;
  position: relative;
  width: 100%;
  padding: 0 2rem;
  padding-bottom: 3rem;
}
@media (min-width: 1100px) {
  main form {
    padding: 0;
  }
}
main form .icon-error {
  position: absolute;
  right: 7.5rem;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}
main form .icon-error.active {
  display: block;
}
main form input[type=email] {
  background: transparent;
  border: 1px solid #decacc;
  border-radius: 2rem;
  padding: 1rem;
  padding-left: 1.5rem;
  position: relative;
  flex: 100%;
  font-family: "Josefin Sans", sans-serif;
}
@media (min-width: 1100px) {
  main form input[type=email] {
    padding: 0;
    padding: 1.5rem;
  }
}
main form input[type=email]::placeholder {
  opacity: 0.5;
  color: #ce9797;
}
main form input[type=submit] {
  background: url("../images/icon-arrow.svg"), linear-gradient(135deg, #f8bfbf, #ee8c8c);
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  padding: 1rem 2rem;
  border-radius: 50px;
  position: absolute;
  right: 2rem;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(206, 151, 151, 0.5);
}
@media (min-width: 1100px) {
  main form input[type=submit] {
    right: 0;
    padding: 1.5rem 3.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
